/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* GENERAL RULES */
.center-text {
  text-align: center;
  margin: 2rem;
}

/* HEADER */
h1 {
  font-size: 2rem;
}

/* IMAGE */
.img-frame {
  margin: 3rem auto;
  border: 2px black solid;
  border-radius: 20px;
  box-shadow: 0px 0px 19px 3px grey;
}
